<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Kindle Dashboard</title>
    <style>
      body {
        font-size: 4rem;
        padding-left: 20px;
      }
      h1 {
        font-size: 3em;
      }
      .m-0 {
        margin: 0;
      }
    </style>
  </head>
  <body class="m-0">
    <h1 class="m-0"><%= time %></h1>
    <h2 class="m-0"><%= weather %></h2>
    <h2 class="m-0"><%= ltc %></h2>
    <script>
      setInterval(function() {
        document.location.reload();
      }, 5000);
    </script>
  </body>
</html>
